<% layout('/layouts/boilerplate') -%>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>
                <%= listing.title %>
            </h3>
        </div>

        <div class="card listing-card col-6 offset-2 p-0" style="width: 24rem;">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="<%= listing.title %>">

            <div class="card-body">
                <p class="card-text">
                    <p>Owned by <strong><%= listing.owner.username %></strong></p>
                    <%= listing.description %>
                </p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Price:</strong> ₹
                        <%= listing.price %>
                    </li>
                    <li class="list-group-item"><strong>Location:</strong>
                        <%= listing.location %>
                    </li>
                    <li class="list-group-item"><strong>Country:</strong>
                        <%= listing.country %>
                    </li>
                </ul>
            </div>
        </div>

        <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="col-6 offset-2 mt-3 mb-4 d-flex gap-2">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit this listing</a>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>

                <div class="col-8 offset-3 mb-3">
                    <br>
                    <% if (currUser) { %>
                        <h4>Leave a Review</h4>
                        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                            <fieldset class="starability-slot">
                                <legend>Rating:</legend>
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>

                            <div class="mb-3 mt-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea required name="review[comment]" cols="30" rows="5" class="form-control" id="comment"></textarea>
                                <div class="invalid-feedback">Please add a comment for your review.</div>
                            </div>
                            <button class="btn btn-outline-dark">Submit</button>
                        </form>
                        <% } %>

                            <hr>
                            <p class="fw-bold fs-4">All Reviews</p>
                            <div class="row">
                                <% for (let review of listing.reviews) { %>
                                    <div class="card col-md-5 ms-3 mb-4 shadow-sm border-0 bg-light rounded-4">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark fw-semibold">
                                                @
                                                <%= review.author?.username || "Anonymous" %>
                                            </h5>
                                            <p class="card-text text-secondary">
                                                <%= review.comment %>
                                            </p>
                                            <p class="starability-result" data-rating="<%= review.rating %>">
                                            </p>

                                            <% if (currUser && review.author && review.author._id.toString() === currUser._id.toString()) { %>
                                                <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                                    <button class="btn btn-sm btn-dark">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                </div>
    </div>